.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.login__content {
    flex: 8;
    background-color: #eeebeb;
    height: 550px;
}


.login-form__heading {
    margin-bottom: 15px;
    text-align: center;
}

h2{
    padding-top: 20px;
    font-size: 24px;
    font-weight: lighter;
}

.form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.custom-input {
    background-color: #eeebeb;
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #4141f4;
    color: #ffff;
    cursor: pointer;
}

.register__link {
    color: #898989;
    margin-top: 20px;
    text-align: center;
}
.register__button-submit{
    color: #4141f4;
    text-decoration: none;
}